/* website/src/styles/base.css */

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=EB+Garamond:wght@400;700&display=swap");

:root {
  --padding-huge: 3rem;
  --padding-big: 2rem;
  --padding-large: 1.5rem;
  --padding-normal: 1rem;
  --padding-small: 0.5rem;
  --padding-tiny: 0.25rem;

  --primary-font-family: "Cinzel Decorative", sans-serif;
  --secondary-font-family: "EB Garamond", serif;

  --fontsize-huge: 3rem;
  --fontsize-big: 2rem;
  --fontsize-large: 1.5rem;
  --fontsize-semi-large: 1.25rem;
  --fontsize-normal: 1rem;
  --fontsize-small: 0.75rem;

  --color-black: #1c1c1c;
  --color-gray: #93a19a;
  --color-white: #f8f1e4;
  --color-liturgical-gold: #c8a86b;
  --color-moss-green: #93a19a;
  --color-midnight-blue: #1e2c3c;
  --color-charcoal-blue: #2e4057;
  --color-sandstone-beige: #d7bc95;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-huge);
  background-color: var(--color-black);
  color: var(--color-white);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/img/background.png") no-repeat center center;
  background-size: cover;
  opacity: 0.25;
  z-index: -1;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2 * var(--padding-huge));
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

p {
  font-family: var(--secondary-font-family);
  font-size: var(--fontsize-normal);
}

a {
  color: var(--color-liturgical-gold);
  font-weight: bold;
  text-decoration: none;
}

/* Extras */

::selection {
  background-color: var(--color-midnight-blue);
  color: var(--color-white);
  cursor: pointer;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-black);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-liturgical-gold);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-moss-green);
}
